.red {
    background-color:red;
}

.square {
  height:200px;
  width:200px;
}

/*.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.up {
  margin-top: 10px;
}

.down {
  margin-bottom: 10px;
}*/
